# Public API base
NEXT_PUBLIC_API_URL=http://localhost:4000/api

# Liveblocks (publishable key — safe in client)
NEXT_PUBLIC_LIVEBLOCKS_PUBLIC_KEY=pk_dev_xxx
LIVEBLOCKS_SECRET_KEY=sk_dev_xxx

# Toggle Lexical Editor Engine
NEXT_PUBLIC_USE_LEXICAL=true

