# Server
NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:3000

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/collab_docs?schema=public"

# Auth
JWT_SECRET="98c2d002c8cfafccd4d4d19f9e568ab17ed3d849d63996e74d9d56b23da659ea14181e5d5c54cf604fc0e5c3cf05555903f5a6d14f7c0b8ea56a91f39c35a643"
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10

# Liveblocks (server-side secret)
LIVEBLOCKS_SECRET_KEY=sk_dev_xxx
